@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

list-head {
  height: 45px !important;
}
list-head th {
  background: #ffe5da !important;
}

table td {
  padding: 5px 10px !important;
}
pagination-area {
  margin: 10px 15px !important;
}

.bg-orange-thead {
  background: linear-gradient(45deg, #ffbda1, #ffbda1);
  color: #444;
}
.bg-orange-low {
  background: linear-gradient(45deg, #ffdbcb, transparent);
  color: #444;
}

.custom-input {
  color: black;
}

.custom-input::placeholder {
  color: black;
}

.sticky-container {
  position: sticky;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.sticky-plus {
  /* Adjust other styles as needed */
  margin-bottom: 0;
  margin-right: 0;
}

.ant-btn-primary {
  background-color: #1890ff; /* Your desired background color for the primary button */
  color: #fff; /* Your desired text color for the primary button */
}

.ant-picker-calendar-header {
  display: flex;
  justify-content: flex-start; /* Adjusted from flex-start to flex-end */
  padding: 12px 0;
}

/* Optionally, you can adjust the styles for the year and date labels */
.ant-picker-calendar-year-panel-selected-cell {
  color: #1890ff; /* Adjust the color as needed */
  font-weight: bold;
}

.ant-picker-calendar-date-panel-selected-day {
  color: #1890ff; /* Adjust the color as needed */
  font-weight: bold;
}

